body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 10px;
}

form {
    max-width: 90%;
    margin: 0 auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.product img, .product video {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Ajustar altura máxima */
    object-fit: contain;
}

.filter {
    text-align: center;
    margin-bottom: 20px;
}

.filter button {
    margin: 5px;
    padding: 10px 20px;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#preview img, #preview video {
    max-width: 100%; /* Ajustar tamaño para móviles */
    height: auto;
    display: block;
    margin: 10px auto;
}

button {
    cursor: pointer;
}

@media (min-width: 600px) {
    .product {
        width: calc(50% - 40px); /* Ajustar para dos columnas */
    }
}

@media (min-width: 900px) {
    .product {
        width: calc(33.3333% - 40px); /* Ajustar para tres columnas */
    }
}
